.main {
  font-family: 'Poppins', sans-serif;
}
.main .s1 {
  min-height: 20.625rem;
}
.main .s1 .container__1ksl {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
}
.main .s1 .container__1ksl .block {
  flex-wrap: wrap;
  align-items: normal;
  justify-content: flex-start;
  flex-direction: row;
}
.main .s1 .container__1ksl .block .col__TB11 {
  position: relative;
  width: 100%;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 100%;
  margin-left: 0%;
  right: auto;
  left: auto;
  min-height: 1px;
}
.main .s1 .container__1ksl .block .col__TB11 .imageSlider {
  position: relative;
  width: 100vw;
  left: 50%;
  overflow: hidden;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 75vh;
  min-height: 20.625rem;
  z-index: 0;
}
.main .s1 .container__1ksl .block .col__TB11 .imageSlider .swiper {
  height: 100%;
  display: flex;
  position: relative;
}
.main .s1 .container__1ksl .block .col__TB11 .imageSlider .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.main .s1 .container__1ksl .block .col__TB11 .imageSlider .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .s1 .container__1ksl .block .col__TB11 .slideContent {
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
}
.main .s1 .container__1ksl .block .col__TB11 .slideContent .searchWrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.29);
  border-radius: 4px;
  position: relative;
  z-index: 30;
}
.main .s1 .container__1ksl .block .col__TB11 .slideContent .searchWrapper .title {
  margin-bottom: 1.5rem;
}
.main .s1 .container__1ksl .block .col__TB11 .slideContent .searchWrapper .title h1 {
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;
  font-size: 1.75rem;
  font-weight: 600;
}
.main .s1 .container__1ksl .block .col__TB11 .slideContent .searchWrapper form {
  min-height: 2.75rem;
  max-height: 2.75rem;
}
.main .s1 .container__1ksl .block .col__TB11 .slideContent .searchWrapper form span {
  background: none;
}
.main .s2 {
  margin-top: 3rem;
}
.main .s2 .block {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-items: normal;
  justify-content: flex-start;
  flex-direction: row;
  text-align: center;
}
.main .s2 .block .col__TB11 {
  width: 100%;
  flex: 1 0 0px;
  max-width: 100%;
  margin-left: 0%;
  right: auto;
  left: auto;
}
.main .s2 .block .t1 {
  padding: 2rem;
  background: #F0F6F6;
  flex: 1;
}
.main .s2 .block .t1 .title {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 25px;
}
.main .s2 .block .t1 .textApp {
  margin: 1.5rem 0;
  font-size: unset;
}
.main .s2 .block .t1 .c2 {
  display: flex;
  gap: 1.875rem;
}
.main .s2 .block .t1 .c2 p {
  font-size: 0.875rem;
  font-weight: 600;
}
.main .s2 .block .t1 .c2 .download .googleplay {
  margin-top: 10px;
}
.main .s2 .block .t1 .c2 .scan img {
  width: 5.5rem;
  height: 5.5rem;
}
.main .s2 .block .t1 .valid {
  font-size: 0.625rem;
  margin-top: 1.5rem;
}
.main .s2 .block .t2 img {
  width: 100%;
  order: 1;
  flex: 1;
  align-self: stretch;
  height: 100%;
  border-radius: 0 8px 8px 0;
  object-fit: cover;
  object-position: 25% 25%;
  overflow: hidden;
}
.main .s3 {
  margin-top: 3rem;
  font-size: 40px;
  line-height: 60px;
}
.main .s3 h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  font-weight: 600;
}
.main .s3 .block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .s3 .block a {
  text-decoration: none;
  border: 0;
  background-color: transparent;
  text-align: center;
}
.main .s3 .block a .card {
  position: relative;
  overflow: hidden;
  width: 290px;
  height: 260px;
  border: none;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.main .s3 .block a .card img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  filter: brightness(90%);
  aspect-ratio: auto 242 / 242;
}
.main .s3 .block a .card .destinationName {
  top: 0;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main .s3 .block a .card .destinationName .name {
  font-size: 25px;
  color: white;
  text-shadow: #000 0.0625rem 0 0.625rem;
}
.main .s4 {
  margin-top: 3rem;
}
.main .s4 h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  font-weight: 600;
}
.main .s4 .block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.main .s4 .block .card {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 388px;
  overflow: hidden;
  border-radius: 22px;
  border: none;
  margin-bottom: 32px;
}
.main .s4 .block .card img {
  object-fit: cover;
  object-position: center;
}
.main .s4 .block .card .info {
  margin-left: 39px;
}
.main .s4 .block .card .info p:nth-child(1) {
  font-size: 24px;
  line-height: 36px;
}
.main .s4 .block .card .info p:nth-child(2) {
  margin-top: 12px;
  font-size: 16px;
}
.main .s5 {
  margin-top: 3rem;
}
.main .s5 h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  font-weight: 600;
}
.main .s5 .block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.main .s5 .block .card {
  width: 290px;
  overflow: hidden;
  border: none;
}
.main .s5 .block .card .poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.main .s5 .block .card .info .rating {
  margin: 25px 0 12px 0;
  display: flex;
  align-items: center;
}
.main .s5 .block .card .info .rating span {
  margin-left: 5px;
  font-size: 16px;
}
.main .s5 .block .card .info p {
  font-size: 24px;
  font-weight: 600;
}
.footer {
  background-color: #2b2d32 !important;
}
.container__1ksl {
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 84.75rem;
  z-index: auto;
}
@media (max-width: 1400px) {
  .s3 .card {
    width: 270px!important;
    height: 240px!important;
  }
  .s4 .card {
    width: 350px!important;
  }
  .s4 .card .info {
    margin-left: 15px!important;
  }
  .main .s4 .block .card .info p:nth-child(1) {
    font-size: 20px!important;
  }
}
@media (max-width: 1169px) {
  .s3 .card {
    width: 230px!important;
    height: 200px!important;
  }
  .s4 .card {
    width: 290px!important;
  }
  .s4 .card .info {
    margin-left: 10px!important;
  }
  .main .s4 .block .card .info p:nth-child(1) {
    font-size: 16px!important;
  }
  .main .s4 .block .card .info p:nth-child(2) {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  .main .s3 .block {
    justify-content: center;
  }
  .s3 .card {
    width: 180px!important;
    height: 160px!important;
  }
  .main .s4 .block {
    justify-content: space-around;
  }
  .name {
    font-size: 20px!important;
  }
}
@media (max-width: 768px) {
  .s3 .card {
    width: 180px!important;
    height: 160px!important;
  }
  .name {
    font-size: 20px!important;
  }
}
@media (max-width: 425px) {
  .s3 .card {
    width: 160px!important;
    height: 145px!important;
  }
}
@media (min-width: 1024px) {
  .slideContent {
    max-width: 34.375rem !important;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .slideContent {
    width: 100%!important;
    align-items: center;
  }
  .slideContent .searchWrapper {
    max-width: 80%!important;
  }
}
@media (max-width: 769px) {
  .slideContent {
    width: 100%!important;
    align-items: center;
  }
  .slideContent .searchWrapper {
    max-width: 100%!important;
  }
  .main .s1 .container__1ksl .block .col__TB11 .slideContent .searchWrapper .title h1 {
    font-size: 1.25rem;
  }
  .main .s2 .block {
    flex-direction: column-reverse;
  }
  .main .s3 .block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 19.25px;
  }
  .main .s2 .block .t1 .c2 {
    justify-content: center;
  }
  .main .s2 .block .t1 .title {
    font-size: 1.25rem;
  }
  .main .s2 .block .t1 .textApp {
    font-size: 0.875rem;
  }
}
@media (max-width: 426px) {
  .main .s2 .block .t1 .c2 .scan {
    display: none;
  }
}
@media (max-width: 612px) {
  .main .s4 .block .card img {
    width: 125px;
  }
  .s4 .card {
    width: 170px!important;
  }
  .main .s4 .block .card {
    flex-direction: column;
  }
  .main .s4 .block {
    justify-content: center;
  }
  .s4 .card .info {
    margin-left: 8px!important;
  }
  .s4 .card .info p {
    margin-bottom: 0px;
  }
  .main .s4 .block .card .info p:nth-child(1) {
    font-size: 13px!important;
  }
  .main .s4 .block .card .info p:nth-child(2) {
    margin-top: 0px;
  }
}
@media (min-width: 1169px) and (max-width: 1400px) {
  .s5 .card {
    width: 270px!important;
  }
}
@media (min-width: 1050px) and (max-width: 1169px) {
  .s5 .card {
    width: 250px!important;
  }
}
@media (max-width: 1050px) {
  .main .s5 .block .card {
    width: 220px;
  }
}
@media (max-width: 912px) {
  .main .s5 .block .card {
    width: 180px;
  }
  .main .s5 .block .card .info p {
    font-size: 15px;
  }
  .main .s5 .block {
    justify-content: space-around;
  }
}
